.cardFront {
  position: absolute;
  top: 18.7rem;
  left: 15%;
  background-image: url("../../images/bg-card-front.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 44.7rem;
  height: 24.5rem;
  border-radius: 10px;
  padding: 2.8rem 3.2rem 2.6rem 3.2rem;
  color: #fff;
}

.icon {
  margin-bottom: 6.4rem;
  width: 100px;
  height: 47px;
}

.cardNumber {
  font-size: 2.8rem;
  letter-spacing: 3.42px;
  margin-bottom: 2.5rem;
}

.cardCredentials {
  display: flex;
  justify-content: space-between;
}

.cardHolder,
.cardDate {
  font-size: 14px;
  letter-spacing: 2px;
}

@media only screen and (max-width: 1100px) {
  .cardFront {
    left: 50%;
    transform: translateX(-61%);
    padding: 1.9rem 1.7rem;
    width: 36.5rem;
    height: 20rem;
    top: 14.3rem;
    z-index: 9999;
  }
  .icon {
    margin-bottom: 2rem;
  }
  .cardNumber {
    font-size: 2.4rem;
    letter-spacing: 3.42px;
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .cardFront {
    width: 28.5rem;
    height: 15.7rem;
    padding: 1.9rem 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: 12rem;
  }

  .icon {
    transform: scale(0.7);
    margin-bottom: 3.7rem;
    position: absolute;
    left: 0;
    top: 1rem;
  }
  .cardNumber {
    font-size: 1.8rem;
    letter-spacing: 2.2px;
    margin-bottom: 1.7rem;
  }
}
